<h2>Reactive form</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmitData(myForm)">
    \
    <div>
        <input type="hidden" name="id" formControlName="id">
    </div>
    
    
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="uname" formControlName="uname" class="form-control">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="email" formControlName="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="username">Gender:</label>
        <input type="radio" name="gender" value="male" formControlName="gender" >
        <label for="male">Male</label>
        <input type="radio" name="gender" value="Female" formControlName="gender" >
        <label for="male">Female</label>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button> &nbsp;
        <button class="btn btn-danger" type="reset">Reset</button> &nbsp;
        <button class="btn btn-info" type="button" (click)="updateData(myForm)">Update</button>
    </div>
</form>

<table *ngIf="showTable" class="table table-responsive">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let dt of allFormData">
        <td>{{dt.uname}}</td>
        <td>{{dt.email}}</td>
        <td>{{dt.gender}}</td>
        <td>
            <button class="btn btn-danger" type="button" (click)="onDelete(dt)">Delete</button> &nbsp;
            <button class="btn btn-info" type="button" (click)="onEditData(dt)">Edit</button>
        </td>
    </tr>
</table>