<!-- 1.Data Binding -->
<!-- <app-home></app-home> -->
<!-- <app-binding2></app-binding2> -->


<!--2. directives -->
<!-- <app-directives1></app-directives1> -->

<!-- 3.Revision of angular -->
<!-- <app-revision-angular></app-revision-angular> -->

<!-- Template Forms -->
<!-- <app-templateform1></app-templateform1> -->
<!-- <app-templateform2></app-templateform2> -->
<!-- <app-templateform3></app-templateform3> -->

<!-- Reactive Forms -->
<!-- <app-reactivform1></app-reactivform1> -->
<!-- <app-reactiveform2></app-reactiveform2> -->
<!-- <app-reactiveform3></app-reactiveform3> -->
<!-- <app-reactiveform4></app-reactiveform4> -->


<!-- Pipes -->
<!-- <app-pipe></app-pipe> -->

<!-- Service -->
<!-- <app-appservice></app-appservice> -->
<!-- <app-student-data></app-student-data> -->
<!-- <app-app1></app-app1> -->
<!-- <app-app2></app-app2> -->
<!-- <app-app3></app-app3> -->



<!-- <app-angula-revision></app-angula-revision> -->

<!-- rxjsOperator -->
<!-- <app-rxjs-operators></app-rxjs-operators> -->


<app-my-crud></app-my-crud>



