<h2>Template Form</h2>

<form name="myForm" #frm="ngForm" (ngSubmit)="frm.form.valid && onSubmitData(frm)">

    <div>
        <input type="hidden" name="id" #id="ngModel" ngModel [(ngModel)]="idd">
    </div>

    <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" name="fname" class="form-control" #fname="ngModel" ngModel [(ngModel)]="fn"
        [ngClass]="{'is-invalid':frm.submitted && fname.invalid}" required minlength="4">

        <div *ngIf="fname.touched" class="invalid-feedback">
            <div *ngIf="fname.errors?.['required']">First name is required</div>
            <div *ngIf="fname.errors?.['minlength']">minimun 4 letter is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="lname">last Name:</label>
        <input type="text" name="lname" class="form-control" #lname="ngModel" ngModel [(ngModel)]="ln"
        [ngClass]="{'is-invalid':frm.submitted && lname.invalid}" required minlength="4">

        <div *ngIf="lname.touched" class="invalid-feedback">
            <div *ngIf="lname.errors?.['required']">last name is required</div>
            <div *ngIf="lname.errors?.['minlength']">minimun 4 letter is required</div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-info mt-5">Submit</button>
    </div>

</form>


<table *ngIf="showTable" class="table table-hover">
    <tr>
        <th>First Name</th>
        <th>last Name</th>
        <th>Action</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let dt of allData">
        <td>{{dt.fname}}</td>
        <td>{{dt.lname}}</td>
        <td>
            <button class="btn btn-danger" (click)="onDelete(dt)">Delete </button>
        </td>
        <td>
            <button class="btn btn-primary" (click)="onEdit(dt)">Edit </button>
        </td>
    </tr>
</table>