
<h2>  {{name | uppercase}}</h2>
<h2>  {{name | titlecase}}</h2>
<h2>  {{name | lowercase}}</h2>

{{Date |  date: 'short' }} <br>
{{Date |  date: 'medium'}} <br>
{{Date |  date: 'long' }} <br>
{{Date |  date: 'full' }} <br>
{{Date |  date: 'shortDate'}} <br>
{{Date |  date: 'mediumDate'}} <br>
{{Date |  date: 'longDate'}} <br>
{{Date |  date: 'fullDate'}} <br>
{{Date |  date: 'shortTime'}} <br>
{{Date |  date: 'mediumTime'}} <br>
{{Date |  date: 'longTime'}} <br>
{{Date |  date: 'fullTime'}} <br>

{{currency | currency:'INR'}} <br>

{{StudData | json}} <br>

{{name |slice:4 :10}} <br>






