<!-- <h2>Revision-angular</h2>
<input type="text" [(ngModel)]="fname"  >

your name: {{fname}}     -->


<h2>Template forn</h2>

<form name="myForm" #frm="ngForm"  (ngSubmit)="frm.form.valid && submitData(frm)" >
<div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" #fname="ngModel" ngModel class="form-control"
    required [ngClass]="{'is-invalid':frm.submitted && fname.invalid}" >

    <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">First name is required</div>
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" #email="ngModel" ngModel class="form-control"
    required [ngClass]="{'is-invalid':frm.submitted && email.invalid}">
    <div *ngIf="frm.submitted && email.invalid" class="invalid-feedback">Email is required</div>
   
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="pass" #pass="ngModel" ngModel class="form-control"
    required [ngClass]="{'is-invalid':frm.submitted && pass.invalid}" >
    <div *ngIf="frm.submitted && pass.invalid" class="invalid-feedback">password is required</div>
</div>

<button class="btn btn-primary">Submit</button>

</form>

<table *ngIf="showTable" class="table table-primary" >
    <tr>
        <th>First name</th>
        <th>Email</th>
        <th>pass</th>
    </tr>

    <tr *ngFor="let data of formData">
        <td > {{data.fname}}</td>
        <td > {{data.email}}</td>
        <td > {{data.fname}}</td>
    </tr>
    
</table>